*{
    background-color: black;
    color: rgb(252, 11, 168);
}
body{
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-family: "Pacifico", cursive;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
img {
    border:5px solid white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 400px;
}
button{
    background-color:rgb(249, 6, 168);
    text-decoration: none;
}